{% extends "base.html" %}
{% block shit %}

    <h3 class="teal-text center-align">All Tasks</h3>

    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text teal text-shadow">
                <i class="material-icons">arrow_drop_down</i>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
            {% if task.is_urgent == "on" %}
                    <i class="material-icons tooltipped" data-position="right" data-tooltip="URGENT!">warning</i>
            {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
                <p><em>by {{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
        

{% endblock %}